*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-around;
    /* padding: 10px; */
    font-family: "DM Sans", serif;
    margin-left: 5%;
    margin-right: 5%;
    
}

h1{
    color: orange;
    font-weight: bold;
    margin: 10px;
    
}

label{
    height: 30px;
    width: 58px;
    position: relative;
    display: block;
    background: silver;
    border-radius: 200px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4) inset 0px -5px 15px rgba(255,255,255,0.4) ;
    cursor: pointer;
    transition: 0.3s;
    left: 40px;
    top: 15px;
}

label::after{
    content: "";
    height: 25px;
    width: 25px;
    position: absolute;
    top: 2.5px;
    left: 2px;
    background: linear-gradient(180deg,silver,white);
    border-radius: 18px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

input{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

input:checked + label{
    background: black;

}

input:checked + label::after{
    left: 55px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,gray,gray);

}

input:checked + label::after{
    width: 22px;
}

.background{
    width: 540%;
    height: 540%;
    background: white;
    z-index: -1;
    position: absolute;
    transition: 0.3s;

}

input:checked  + label + .background{
    background-color: gray;
}

label svg{
    position: absolute;
    width: 20px;
    top: px;
    z-index: 50;
}

label svg.sun{
    left: 4px;
    fill: white;
    transition: 0.03s;
}

label svg.moon{
    left: 35px;
    fill: gray;
    transition: 0.03s;
}

input:checked + label svg.sun{
    fill: gray;
}

input:checked + label svg.moon{
    fill: white;
}

.menu{
    margin-left: auto;
    width: 50%;
    color: black;
    display: flex;
    align-items: center;
}
.menuItems{
    margin-left: 5%;
}

.menuItems, .footerMenuItems, .login{
    &::after{
        content: "";
        width: 0%;
        height: 2px;
        margin: 2px 0;
        background-color: orange;
        display: block;
        transition: 0.3s;
    }
    &:hover::after{
        width:100%;
    }
}
.menu > a{
    color: black;
}

menu >.i{
    width: 30px;
    cursor: pointer;
}

.loginBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginBlock > .login{
    margin-right: 2px;
    color: black;
    left: 100px;
}

.loginBlock > .subscription{
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 0.798rem;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}


.heroSection{
    display: grid;
    grid-template-columns: 50% auto;
    justify-content: center;
    align-items: center;
}
.reverseSection{
    margin-top: 2%;
    grid-template-columns: 60% auto;
    padding: 2%;
    margin-left: 5%;
    margin-bottom: 5%;

}
@media (max-width:500px){
    .heroSection{
        display: grid;
        grid-template-rows: auto auto;
    }
    .heroContent{
        grid-row-start: 1;
        grid-row-end: 2;
        width: 60vw;
        position: relative;
        left: -20px;
    }
    .heroImage{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .buisnessChatImage{
        position: relative;
        left: -30px;
    }
}

.heroContent{
    display: flex;
    flex-direction: column;
    padding: 25%;
}

.heroContentItems{
    margin: 3%;
}

.heroContent > #heroText{
    font-size: 3.4vw;
    font-weight: bolder;
}

#heroTextDescription{
    font-size: 0.897rem;
    font-weight: lighter;
}


#startChattingButton{
    cursor: pointer;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
#startChattingButton > i{
    margin-left: 5px;
}

.heroImage > img{
    width: 100%;
    height: 100%;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.featureHeading{
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

.featureBlocks{
    display: flex;
    flex-direction: row;
    margin: 0 3% 0 3%;
}

@media (max-width:610px){
    .features > .featureBlocks{
        display: flex;
        flex-direction: column;
        /* margin: 0 3% 0 3%; */
    }
    
}
.buisnessSection{
    margin-top: 8%;

}
.buisnessContent{
    padding-left: 2%;
}

.blockItems{
    display: grid;
    grid-template-columns: 60px auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 5px;
    padding: 5px;
    text-align: center;

}
.videoDescription, .timeDescription, .privacyDescription{
    margin: auto;
    justify-content: center;
    padding: 2%;
    
}

.itemHeading{
   padding: 7px;
    font-weight: bolder;
    text-align: center;
}

.icon{
    margin: 10px;
    width: max-content;
    padding: 10px;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
#videoIcon{
    background-color: rgb(253, 213, 157);
    color: rgb(255, 132, 0);
}
#timeIcon{
    background-color: rgb(157, 253, 184);
    color: rgb(67, 202, 0);
}
#privacyIcon{
    background-color: rgb(253, 213, 157);
    color: rgb(255, 132, 0);
}
/* Chat Card css */
.chatCard{
    width: max-content;
    height: 80%;
    box-shadow: 0 -0.3em 1em rgba(30, 32, 30, 0.454);
    border-radius: 5px;
    padding: 10%;
}
.message{
    display: flex;
    gap: 20px;
    
}
.message > img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.textBox{
    width: max-content;
    background-color: rgba(128, 128, 128, 0.283);
    border-radius: 5px;
    padding: 7px;
}
.message2, .message3{
    margin-top: 12%;
}
.textBox2{
    background-color:#FB8E0B;
    padding: 12px;
}

.wholeText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chatBoxx{
    color: rgba(128, 128, 128, 0.947);
    border: 2px solid rgba(128, 128, 128, 0.226);
    display: flex;
    position: relative;
    height: 13%;
    padding: 3%;
    margin-top: 9%;
}
.forwardIcon{
    position: absolute;
    right: 2%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.226);
    height: max-content;
    width: max-content;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.testimonial{
    background-color: #FB8E0B;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.testHeading{
    color: white;
}
.cardRow{
    display: flex;
    padding: 10%;
}
@media (max-width: 500px){
    .cardRow{
        display: flex;
        flex-direction: column;
        margin: 20px;

    }
    .cardRow > .testCards{
        margin-bottom: 60px;
    }
    .testimonial > .testHeading{
        width: wrap;
        padding-left: 10%;
        padding-right: 10%;
        font-size: large;
    }
}
.testHeading{
    position: absolute;
    top: 30px;
}
.testCards{
    height: fit-content;
    max-width: 470px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    margin: 20px;
}
.cardHeading{
    text-align: center;
    color: orange;
    font-size: medium;
    padding: 8px;
    padding-bottom: 0px;
}
.cardContent{
    text-align: center;
    padding: 12px;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid rgb(255, 255, 255);
    transform: translate(-50%,6px) rotate(180deg);
    position: absolute;
    bottom: -7px;
    left: 50%;
}

.id{
    display: flex;
    color: aliceblue;
    position: absolute;
    bottom: -65px;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: max-content;
}

.id > img{
    width: 45px;
    border-radius: 50%;
}
.text{
    margin-left: 15px;
    font-size: 0.7rem;
    letter-spacing: 2px;
    line-height: 23px;
    width: max-content;
}

.footerEnd{
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    margin-top: 12%;
    margin-bottom: 12%;
}
.footerText{
    
    font-size: 25px;
    font-weight: 900;
    text-align: center;

}
.chatbutton{
    background: orange;
    width: max-content;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}


footer{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-family: "DM Sans", serif;
    margin-left: 5%;
    margin-right: 5%;
}

.footerlogo{
    color: darkorange;
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
    
}

.footerMenu{
    margin-left: auto;
    width: 60%;
    color: black;
    display: flex;
    align-items: center;
}
.footerMenuItems{
    margin-left: 5%;
}
.footerMenu > a{
    color: black;
}

.footerIcons{
    text-decoration: none;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footerIcons > a{
    color: orange;
}

hr{
margin-left: 5%;
margin-right: 5%;
}
.copyright{
    display: flex;
    color: grey;
    font-size: medium;
    margin-left: 2%;
}
.info{
    padding-left: 25px;
    text-align: center;
}
.policy{
    margin-left: 60%;
    display: flex;
    gap: 20px;
    
}

@media(max-width:700px){
    .menu{
        display: none;
    }
    footer >.footerMenu{
        display: none;
    }
}

